<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>

    <dubbo:application name="hibernate_demo2"   />

    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" port="20882" />

    <dubbo:consumer  filter="transactionFilter" />

    <!--<dubbo:provider delay="-1" timeout="6000" port="20882" retries="0"/>-->

    <!--<dubbo:protocol accesslog="true" name="dubbo"  host="127.0.0.1" />-->

    <dubbo:service  interface="com.demo.service.Test2Service" ref="test2ServiceImpl"  />


</beans>